.title-block .title {
    display: inline-block;
    background-color: #f4f4f4;
    font-weight: normal;
    padding: 30px 60px;
    border-radius: 8px;
  }
  
  .title-block .subtitle {
    display: inline-block;
    color: #555;
    font-weight: normal;
    padding-bottom: 20px;
    border-bottom: 3px solid #f4f4f4;
  }